<div class="maincontent">
  <%= form_with(url: search_memos_path, local: true, method: :get, class: "search") do |form| %>
    <%= form.text_field :keyword, placeholder: " \uf002 search", class: "fa" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
    <div class="contents">
      <% @memos.each do |memo| %>
      <%= render partial: "memo", locals: { memo: memo } %>
        <%# <%= render partial: 'memos/memos', collection: @memos, as: :memo %>
      <% end %>
    </div>
</div>