<div class="formcontents">
  <div class="container">
    <%= form_with(model: @memo, local: true) do |form| %>
      <h3>
        メモ作成画面
      </h3>
      <%= form.text_field :title, placeholder: "title", autocomplete:"off" %>
      <%= form.text_field :url, placeholder: "url",autocomplete: "off" %>
      <%= form.text_area :text, placeholder: "text" , rows: "10" %>
      <%= form.submit "保存する" %>
    <% end %>
  </div>
</div>