<div class="formcontents">
  <div class="showcontainer">
    <div class="showcontainer__top">
      <div class="memoTitle">
        <%= @memo.title %>
      </div>
      <% if user_signed_in? && current_user.id == @memo.user_id %>

        <div class="icon">
          <%= link_to "編集", edit_memo_path(@memo.id), class: "manage" %>
          <%= link_to "削除", memo_path(@memo.id), method: :delete, class: "delete" %>
        </div>
      <% end %>

    </div>
    
    <div class="memoDate">
      <%= @memo.created_at.to_s(:datetime_jp) %>
    </div>
    <div class="memoAuthor">
      <%= text_url_to_link(h(@memo.url)).html_safe %>

    </div>
    <div class="memoText">
      <%= simple_format @memo.text %>
    </div>
  </div>  
</div>
